{% extends 'base/_base.njk' %}


{% from 'macro/breadcrumb_macro.njk' import breadcrumb %}

{% block title %} Company name | Not found {% endblock %}


{% block content %}

{{ breadcrumb(crumbs) }}

<section class="p-4" style="line-height: 1.8rem">
    <div class="container">
        <h2 class="mb-4">Requested page not found</h2>
        <p>Not found</p>
    </div>
</section>

{% endblock %}
