<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            Footer top
        </div>
        <div class="row footer__bottom">
            Footer bottom
        </div>
    </div>
</footer>