{% extends "base/_base.njk" %}

{% block title %} Company | Admin page {% endblock %}


{% block content %}

<section class="p-4">
    <div class="container">
        <h2 class="mb-4">Header admin</h2>
        <p>
            Hello
        </p>
    </div>
</section>

{% endblock %}